@import "tailwindcss";
@source "../../views/**/*.html";

@theme {
  --color-primary: #12230f;
  --color-font: #36f71d;
  --color-bg: #163810;
  --color-input: #142e0f;
  --color-border: #1f7214;
  --color-button: #36f71d;
  --color-dbPrimary: #0e150e;
  --color-dashboardfont: #9ca3af;
}
